body, html {
  overflow: hidden;
  margin: 0 0 0 0;
  position: fixed;
  width: calc(100% - 2px); left: 0;
  height: calc(100% - 2px); top: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #000;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  width: 100px;
}


#paddle {
  position: absolute;
  width: 24px;
  height: 130px;
  background-color: #fff;
}

#ball {
  position: absolute;
  height: 24px; width: 24px;
  background-color: #fff;
}

#center {
  position: fixed;
  width: 0px;
  height: 100%; top: 0;
  border: 3px dotted #fff;
  opacity: 0.3;
}

#pressSpaceBox {
  position: absolute;
  font-family: scoreFont;
  font-size: 24pt;
  color: #fff;
  z-index: 1;
  width: 800px;
  text-align: center;
  height: 100px;
  /*display: none;*/
}

@font-face {
  font-family: scoreFont;
  src: url('assets/score_font.ttf');
}

#score {
  position: absolute;
  font-family: scoreFont;
  color: #fff;
  font-size: 24pt;
  opacity: 0.3;
}
